@page "/games/create"

<h3>Add Game</h3>
<button class="btn btn-outline-primary" @onclick="SaveGame">Add hard coded game</button>


@code {

    private CreateGameDTO _newGame { get; set; } = new CreateGameDTO();

    [Inject]
    public IGameService GameService { get; set; }

    [Inject]
    public NavigationManager NavManager { get; set; }

    public async Task SaveGame()
    {
        _newGame.Duration = "Duration";
        _newGame.Moves = "Moves";
        _newGame.FirstPlayerId = new Guid("a66419d2-afc7-444d-13a6-08d9b3149b18");
        _newGame.SecondPlayerId = new Guid("a66419d2-afc7-444d-13a6-08d9b3149b18");

        var createdGameURL = await GameService.CreateGame(_newGame);
        //NavManager.NavigateTo(createdGameURL);
        NavManager.NavigateTo("/");
    }

}
