@page "/players/{PlayerId:guid}" 

<header>Header</header>
<h3>Player in detail</h3>

@if (_playerInDetail == null)
{
    <Spinner/>
}
else
{ 
    <p>Username: @_playerInDetail.Username</p>
    <p>Email: @_playerInDetail.EmailAddress</p>
    foreach (var game in _playerInDetail.Games)
    {
        if(game.Winner == PlayerId)
        {
            <p>Game won</p>
            if (game.WhitePiecesPlayer == PlayerId)
            {
                <p>White side</p>
            }
            else
            {
                <p>Black side</p>
            }
        }
        <hr/>
    }
}

<footer>Footer</footer>

@code {

    private DetailPlayerDTO _playerInDetail { get; set; }

    [Parameter]
    public Guid PlayerId { get; set; }

    [Inject]
    public IPlayerService PlayerService { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        _playerInDetail = await PlayerService.GetDetailPlayer(PlayerId);

        await base.OnParametersSetAsync();
    }

}
