@page "/"
<div class="container">
    <h1>
        <!-- https://www.vecteezy.com/free-vector/vector -->
        <img src="/images/king_queen.jpg" alt="logo" />
        <br />Welcome to the chess AI!
    </h1>
    <h2>About</h2>
    <p>
        Something...
    </p>
</div>
