@typeparam ItemType

<table>
    <Virtualize Items="ListItems" Context="item" TItem="ItemType">
        <tr>
            <td>@ItemTemplate(item)</td>
        </tr>
    </Virtualize>
</table>

@code {
    [Parameter]
    public ICollection<ItemType> ListItems { get; set; } = new List<ItemType>();
    
    [Parameter]
    public RenderFragment<ItemType> ItemTemplate { get; set; }

  /*  [Parameter]
    public EventCallback<TItem> DeleteEvent { get; set; }
    
    [Parameter]
    public EventCallback<TItem> SelectEvent { get; set; } */
}